build
.externalNativeBuild
.gradle
.idea/workspace.xml
Oboe/*
LowpassSample/.DS_Store
SimpleSynth/src/main/java/com/ntrack/audioroute/.DS_Store
SimpleSynth/src/.DS_Store
hostsamplekotlin/.DS_Store
patchfield/.DS_Store
.idea/workspace.xml
externals/.DS_Store
.DS_Store
delayeffect/src/main/.DS_Store
delayeffect/src/.DS_Store
delayeffect/.DS_Store
.DS_Store
delayeffect/.DS_Store
*.iml
.idea/caches
local.properties
settings.gradle
codesigning/ntrack_debug_key.keystore
